
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");


$baseFontFamily: 'Marcellus', sans-serif !default;

$font: "https://fonts.googleapis.com/css2?family=Marcellus&display=swap" !default;
$font-family-custom-sans-serif: "Marcellus", sans-serif !default;
$font-family-base: $font-family-custom-sans-serif !default;

$body-color: rgb(255, 255, 255);
$body-bg: #212121;

$theme-colors: (
  "purple": purple,
  "background": #212121
);

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
@import '../node_modules/bootstrap/scss/bootstrap.scss';